/* Navbar */
.nav-edit {
  background: rgba(0, 0, 0, 0.308);
}

/* Hero */
.hero-section {
  min-height: 90vh;
  position: relative;
}
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.637);
  z-index: 0;
}

.main-content {
  max-width: 500px;
  z-index: 2;
}

.
/* Display */

.display-wrapper {
  background: #1876b4;
  min-height: 300px;
}

.catagory-button .btn {
  width: 100px;
}
/* card */

.card-container-item {
  background: rgba(255, 255, 255, 0.411);
  backdrop-filter: blur(5px);
}

.card-container-item img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card-container-item img {
    max-height: 180px;
    object-fit: cover;
  }
}
