/* Navbar */
.nav-edit {
  background: rgba(0, 0, 0, 0.308);
}

/* Hero */
.hero-section {
  min-height: 90vh;
  position: relative;
}
.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.637);
  z-index: 0;
}

.main-content {
  max-width: 500px;
  z-index: 2;
}

/* form area */
.form-center {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 500px;
  max-width: 90vw;
}

.form-top {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 500px;
  max-width: 90vw;
  transform: translate(-50%, -50%);
  transition: all 1s;
}
/* Display */

.display-wrapper {
  background: #162731be;
  min-height: 300px;
}

.catagory-button .btn {
  width: 100px;
}
/* card */

.card-container-item {
  background: rgba(255, 255, 255, 0.411);
  backdrop-filter: blur(5px);
}

.card-container-item img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .card-container-item img {
    max-height: 180px;
    object-fit: cover;
  }

  .movie-card-container {
    margin-top: 100px;
  }

  .card-container-item {
    transform: scale(0.85);
    transform-origin: top center;
  }
}

@media (max-width: 375px) {
  .movie-card-container {
    margin-top: 140px;
  }

  .card-container-item img {
    max-height: 150px;
  }

  .card-container-item {
    transform: scale(1);
    transform-origin: top center;
    font-size: 0.85rem;
  }
}

.showMovie {
  transform: scale(1);
  animation: zoom 0.5s;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
